<div class="inicio-wrapper">
  <section class="carousel-section">
    <div class="carousel-container">
      <!-- Flecha Izquierda -->
      <button class="nav-btn prev" (click)="manualNav('prev')">&#10094;</button>

      <div class="carousel-track" [ngStyle]="{ 'transform': 'translateX(-' + (currentIndex * 100) + '%)' }">
        <div class="slide"><img src="assets/imagenes-heroes/Joako.png" alt="Joako"></div>
        <div class="slide"><img src="assets/imagenes-heroes/Benja.png" alt="Benja"></div>
        <div class="slide"><img src="assets/imagenes-heroes/Guerrero.png" alt="Extra"></div>
      </div>
      
      <!-- Flecha Derecha -->
      <button class="nav-btn next" (click)="manualNav('next')">&#10095;</button>
    </div>
  </section>

  <!-- SECCIÓN HÉROE DEL MES -->
  <section class="hero-month-section">
    <h2 class="section-title">Héroe del Mes</h2>
    
    <div class="hero-grid">
      <div class="hero-card">
        <img src="assets/imagenes-heroes/Guerrero.png" alt="Héroe A" class="hero-img">
      </div>
      <div class="hero-card">
        <img src="assets/imagenes-heroes/cazadora.png" alt="Héroe B" class="hero-img">
      </div>
    </div>

    <div class="hero-text-container">
      <p class="hero-description">
        Este mes honramos a los campeones que forjaron su destino en las mesas de <span class="highlight">El Desafío</span>. 
        Su valentía en las calles de Baalth no será olvidada.
      </p>
    </div>
  </section>
</div>