<nav class="navbar">
  <div class="navbar-logo">
    <!-- Aquí podrías poner un logo o el nombre del proyecto -->
    <a routerLink="/">Bienvenidos a Fergalia</a>
  </div>

  <ul class="navbar-links">
    <li>
      <a routerLink="/home" routerLinkActive="active">Inicio</a>
    </li>
    <li>
      <a routerLink="/historias" routerLinkActive="active">Historias</a>
    </li>
    <li>
      <a routerLink="/mundo" routerLinkActive="active">Mundo</a>
    </li>
    <li>
      <a routerLink="/games" routerLinkActive="active">Juega!</a>
    </li>
    <li>
      <a routerLink="/apoyanos" class="btn-support" routerLinkActive="active">¡Apóyanos!</a>
    </li>
  </ul>
</nav>