<nav class="navbar">
  <div class="navbar-logo">
    <!-- Aquí podrías poner un logo o el nombre del proyecto -->
    <img src="assets/marca/Gungnir Caslting 2.png" alt="Marca" class="logo-marca-gc">
    <a routerLink="/">Bienvenidos a Fergalia</a>
  </div>

  <ul class="navbar-links">
    <li>
      <a routerLink="/" routerLinkActive="active">Inicio</a>
    </li>
    <li>
      <a routerLink="/historias" routerLinkActive="active">Historias</a>
    </li>
    <li>
      <a routerLink="/mundo" routerLinkActive="active">Mundo</a>
    </li>
    <li>
      <a routerLink="/aventuras" routerLinkActive="active">Aventuras</a>
    </li>
    <li>
      <a routerLink="/juega" routerLinkActive="active">Juega!</a>
    </li>
    <li>
      <a routerLink="/apoyanos" class="btn-support" routerLinkActive="active">¡Apóyanos!</a>
    </li>
  </ul>
</nav>